<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style_admin.css}" />
	<title>Insert title here</title>
</head>

<body>

	<div th:insert="fragments/general.html :: menu"></div>

    <main>
        <h2>Editar película</h2>
        
		<form action="#" th:action="saveChangesMovie" th:object="${movieEdit}" method="post" enctype="multipart/form-data">
			<label>Título:</label>
			<input th:field="*{title}" required="true"/>
			
			<label>Precio:</label>
			<input th:field="*{price}" required="true" step=".01"/>
			
			<label>Sinopsis:</label>
			<textarea th:field="*{synopsis}" rows="3" cols="15" required="true"/>
			
			<label>Director:</label>
			<input th:field="*{director}" required="true"/>
			
			<label>País:</label>
			<input th:field="*{country}" required="true"/>
			
			<label>EAN:</label>
			<input th:field="*{ean}" required="true"/>
			
			<label>Editor/ra:</label>
			<input th:field="*{editor}" required="true"/>
			
			<label>Año de lanzamiento:</label>
			<input th:field="*{release_year}" required="true"/>
			
			<label>Género:</label>
			<select th:field="*{idGenre}" required="true">
				<option th:each="g : ${genres}" th:text="${g.name}" th:value="${g.id}"/>		
			</select>

			<label>Duración:</label>
			<input th:field="*{length_min}" required="true"/>
			
			<label>Imagen:</label>
			<img th:src="@{'../showMovieImage?id=' + ${movieEdit.id}}" />
			
			<label>Imagen nueva:</label>
			<input th:field="*{imageUploaded}" type="file"/>
			
			<input type="hidden" th:field="*{id}"/>

			<input type="submit" value="GUARDAR CAMBIOS" />
		</form>
		
    </main>

</body>
</html>