<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style_admin.css}" />
	<title>Insert title here</title>
</head>
<body>

	<div th:insert="fragments/general.html :: menu"></div>
	
	<!-- Buscador -->
	<form action="getMovies" method="get">
		<input type="text" name="title" th:value="${title}"/>
		<input type="submit" value="Buscar"/>
	</form>
	
	<div class="moviesTotalResultsAdmin">
		<p>Películas encontradas:</p> 
		<span th:text="${total}"></span>
	</div>
	
	<div class="card" th:each="m : ${movies}">
		<img th:src="@{${ '../showMovieImage?id=' + m.id }}"/>
		
		<div class="card-desc">
	      	<p><span th:text="${m.title}"></span></p>
	
	      	<ul>
	          	<li>Sinopsis: <span th:text="${m.synopsis}"></span></li>
	          	<li>Director: <span th:text="${m.director}"></span></li>
	          	<li>País: <span th:text="${m.country}"></span></li>
	          	<li>EAN: <span th:text="${m.ean}"></span></li>
	          	<li>Editor/ra: <span th:text="${m.editor}"></span></li>
	          	<li>Año de lanzamiento: <span th:text="${m.release_year}"></span></li>
	          	<li>Género: <span th:text="${m.genre.name}"></span></li>
	          	<li>Duración: <span th:text="${m.length_min}"></span> min.</li>
	          	<li class="price">Precio: <span th:text="${m.price}"></span> €</li>
	      	</ul>
	      	
	      	<div class="movie-options">
	          	<a th:href="@{${ 'deleteMovie?id=' + m.id }}" onclick="return confirm('¿Seguro?')">Eliminar</a>
				<a th:href="@{${ 'editMovie?id=' + m.id }}">Editar</a>
	      	</div>
	
		</div>
	</div>

	<!-- Paginación -->
	<div class="paginationAdmin">
		<a th:if="${previous >= 0}" th:href="@{${ 'getMovies?start=' + previous + '&title=' + title }}" >Anterior</a>
		<a th:if="${next < total}" th:href="@{${ 'getMovies?start=' + next + '&title=' + title}}" >Siguiente</a>
	</div>
	
</body>
</html>