<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
	<!-- Icons. Uncomment required icon fonts -->
	<link rel="stylesheet" href="../../static/recursosAdmin/assets/vendor/fonts/boxicons.css" />
	<!-- Core CSS -->
	<link rel="stylesheet" href="../../static/recursosAdmin/assets/vendor/css/core.css" class="template-customizer-core-css" />
	<link rel="stylesheet" href="../../static/recursosAdmin/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
	<link rel="stylesheet" href="../../static/recursosAdmin/assets/css/demo.css" />
	<link rel="stylesheet" href="../../static/recursosAdmin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
	<script src="../../static/recursosAdmin/assets/vendor/js/helpers.js"></script>
	<script src="../../static/recursosAdmin/assets/js/config.js"></script>
	<title th:text="#{title.management}"></title>
</head>
<body>

	<div th:insert="fragments/general.html :: menu"></div>
	
	<!-- Buscador -->
	<div class="container p-0 m-3 w-auto">
	    <div class="row gap-2">
          <!-- Buscador -->  		
	      <div class="col-md-6">
				<form class="d-flex" action="getMovies" method="get">
				    <input class="form-control me-2" type="search" aria-label="Search" name="title" th:value="${title}">
				    <button class="btn btn-outline-primary" type="submit" th:text="#{text.search}">Buscar</button>
			    </form>
	      </div>
	      
	      <!-- Total movies --> 
		  <div class="moviesTotalResultsAdmin d-flex gap-2 w-auto align-items-center">
		        <p class="m-0 p-0" th:text="#{text.filmsFound}">Películas encontradas:</p> 
		        <span th:text="${total}"></span>
		  </div>	      
	      
	    </div>
	</div>
	
	<div class="card m-3">
	    <h5 class="card-header" th:text="#{text.movies}"></h5>
	    <div class="table-responsive text-nowrap">
	      <table class="table">
	        <thead>
	          <tr class="text-nowrap">
	            <th th:text="#{text.image}">Imagen</th>
	            <th th:text="#{text.title}">Título</th>
	            <th th:text="#{text.director}">Director</th>
	            <th th:text="#{text.country}">País</th>
	            <th th:text="#{text.ean}">EAN</th>
	            <th th:text="#{text.editor}">Editor/ra</th>
	            <th th:text="#{text.releaseYear}">Año de lanzamiento</th>
	            <th th:text="#{text.genre}">Género</th>
	            <th th:text="#{text.format}">Formato</th>
	            <th th:text="#{text.length}">Duración</th>
	            <th th:text="#{text.price}">Precio</th>
	            <th></th>
	            <th></th>
	          </tr>
	        </thead>
	        <tbody>
				
	          <tr th:each="m : ${movies}">
	            <th><img style="width: 4rem;padding: 0.5rem 0.1rem;" th:src="@{${ '../showMovieImage?id=' + m.id }}"/></th>
	            <th th:text="${m.title}">Título</th>
	            <th th:text="${m.director}">Director</th>
	            <th th:text="${m.country}">País</th>
	            <th th:text="${m.ean}">EAN</th>
	            <th th:text="${m.editor}">Editor/ra</th>
	            <th th:text="${m.release_year}">Año de lanzamiento</th>
	            <th th:text="${m.genre.name}">Género</th>
	            <th th:text="${m.format}">Formato</th>
	            <th th:text="${m.length_min}">Duración</th>
	            <th th:text="${m.price}">Precio</th>
	            <th><a th:text="#{text.delete}" th:href="@{${ 'deleteMovie?id=' + m.id }}" onclick="return confirm('¿Seguro?')">Eliminar</a></th>
	            <th><a th:text="#{text.edit}" th:href="@{${ 'editMovie?id=' + m.id }}">Editar</a></th>
	          </tr>
	          
	        </tbody>
	      </table>
	    </div>
	</div>
	
	<!-- Paginación -->
	<div class="paginationAdmin" style="display: flex;justify-content: center; gap: 1.25rem;margin:1.5rem">
		<a th:if="${previous >= 0}" th:href="@{${ 'getMovies?start=' + previous + '&title=' + title }}"  th:text="#{text.previous}">Anterior</a>
		<a th:if="${next < total}" th:href="@{${ 'getMovies?start=' + next + '&title=' + title}}"  th:text="#{text.next}">Siguiente</a>
	</div>
	
	<!-- Scripts para estilos -->
	<script src="../../static/recursosAdmin/assets/vendor/libs/jquery/jquery.js"></script>
	<script src="../../static/recursosAdmin/assets/vendor/libs/popper/popper.js"></script>
	<script src="../../static/recursosAdmin/assets/vendor/js/bootstrap.js"></script>
	<script src="../../static/recursosAdmin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="../../static/recursosAdmin/assets/vendor/js/menu.js"></script>
	<script src="../../static/recursosAdmin/assets/js/main.js"></script>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	
</body>
</html>