<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"/>
	<!-- Icons. Uncomment required icon fonts -->
	<link rel="stylesheet" href="../../static/recursosAdmin/assets/vendor/fonts/boxicons.css" />
	<!-- Core CSS -->
	<link rel="stylesheet" href="../../static/recursosAdmin/assets/vendor/css/core.css" class="template-customizer-core-css" />
	<link rel="stylesheet" href="../../static/recursosAdmin/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
	<link rel="stylesheet" href="../../static/recursosAdmin/assets/css/demo.css" />
	<link rel="stylesheet" href="../../static/recursosAdmin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
	<!-- CSS -->
	<link rel="stylesheet" href="../../static/recursosAdmin/styles.css" />
	<!-- Scripts -->	
	<script src="../../static/recursosAdmin/assets/vendor/js/helpers.js"></script>
	<script src="../../static/recursosAdmin/assets/js/config.js"></script>
	<title th:text="#{title.management}"></title>
</head>
<body>

	<div th:insert="fragments/general.html :: menu"></div>
	
	<div class="orderDetailsContainer">
		<h3 th:text="#{text.orderDetails}">Detalles del pedido</h3>
		<!-- Ignorar -->			
		<input type="hidden" id="idPedido" th:field="${order.id}">
		
		<div class="detallesPedido">
			
			<div class="section productosPedido">
				<h4 th:text="#{text.orderProducts}">Productos del pedido:</h4>
				
				<div class="info producto" th:each="op : ${order.orderProducts}">
					<img th:src="@{${ '../showMovieImage?id=' + op.movie.id }}"/>
					
					<div>
						<p th:text="${op.movie.title}"></p>
						<p><span th:text="#{text.price}"></span>: <span th:text="${op.movie.price}"></span></p>
						<p><span th:text="#{text.quantity}"></span>: <span th:text="${op.quantity}"></span></p>						
					</div>

				</div>
			</div>
			
			<div class="section datosEnvio">
				<h4 th:text="#{text.shippingData}">Datos de envío:</h4>
				
				<div class="info">
					<p><span th:text="#{text.name}"></span>: <span th:text="${order.firstName}"></span></p>
					<p><span th:text="#{text.lastname}"></span>: <span th:text="${order.lastName}"></span></p>
					<p><span th:text="#{text.email}"></span>: <span th:text="${order.email}"></span></p>
					<p><span th:text="#{text.phone}"></span>: <span th:text="${order.phoneNumber}"></span></p>
					<p><span th:text="#{text.address}"></span>: <span th:text="${order.address}"></span></p>
					<p><span th:text="#{text.addressDetails}"></span>: <span th:text="${order.addressDetails}"></span></p>
					<p><span th:text="#{text.postalCode}"></span>: <span th:text="${order.postalCode}"></span></p>
					<p><span th:text="#{text.locality}"></span>: <span th:text="${order.town}"></span></p>
					<p><span th:text="#{text.town}"></span>: <span th:text="${order.province}"></span></p>
					<p><span th:text="#{text.shippingNotes}"></span>: <span th:text="${order.shippingNotes}"></span></p>					
				</div>

			</div>
			
			<div class="section datosContacto">
				<h4 th:text="#{text.contactData}">Datos de contacto:</h4>
				
				<div class="info">
					<p><span th:text="#{text.contactPerson}"></span>: <span th:text="${order.contactName}"></span></p>
					<p><span th:text="#{text.contactPhone}"></span>: <span th:text="${order.contactPhone}"></span></p>
					<p><span th:text="#{text.contactEmail}"></span>: <span th:text="${order.contactEmail}"></span></p>					
				</div>

			</div>
			
			<div class="section datosPago">
				<h4 th:text="#{text.paymentData}">Datos de pago:</h4>
				
				<div class="info">
					<p><span th:text="#{text.typeOfCard}"></span>: <span th:text="${order.cardType}"></span></p>
					<p><span th:text="#{text.cardHolder}"></span>: <span th:text="${order.cardHolder}"></span></p>
					<p><span th:text="#{text.number}"></span>: <span th:text="${order.cardNumber}"></span></p>
					<p><span th:text="#{text.expiration}"></span>: <span th:text="${order.cardExpiration}"></span></p>					
				</div>

			</div>
			
			<div class="section datosEstado">
				<h4 th:text="#{text.orderStatus}">Estado del pedido:</h4>
				
		        <select id="select_estado">
	                <option th:each="status : ${statuses}" th:value="${status.key}" th:text="${status.value}" 
	                	th:selected="${status.key == order.status}"></option>
		        </select>
			</div>
		
		</div>		
	</div>
	

	<!-- Scripts -->
	<script src="../librerias_js/jquery.js"></script>
	<script>
		$("#select_estado").change(function(e) {
			let estado = $(this).find(":selected").val()
			let idPedido = $("#idPedido").val()
			
			$.post("webServiceOrders/updateOrderStatus", {id: idPedido, newStatus: estado}).done(function(res) {
				if (res == "ok") {
					alert("Se ha cambiado el estado correctamente.")
					
				} else {
					alert("Algo ha ido mal.")
				}
			})
			
		})
		
	</script>
	
	<!-- Scripts para estilos -->
	<script src="../../static/recursosAdmin/assets/vendor/libs/jquery/jquery.js"></script>
	<script src="../../static/recursosAdmin/assets/vendor/libs/popper/popper.js"></script>
	<script src="../../static/recursosAdmin/assets/vendor/js/bootstrap.js"></script>
	<script src="../../static/recursosAdmin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="../../static/recursosAdmin/assets/vendor/js/menu.js"></script>
	<script src="../../static/recursosAdmin/assets/js/main.js"></script>
	<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>